.filter-cradles-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.filter-cradles-bar button {
  margin-bottom: 1.5em;
}

.datePicker-cradles {
  padding: 19px;
  border: solid 1px rgb(196, 193, 193);
  border-radius: 0.2rem;
  margin-top: 1.7em;
}

.filter-cradles-bar button {
  margin-top: 1.5em;
}

.filtered-cradles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 10px;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.product-card h3 {
  font-size: 18px;
  margin: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.product-card span {
  font-size: 14px;
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.product-card .price {
  font-size: 17px;
  
}

.product-card button {
  width: 100%;
  padding: 8px;
  
}

.cradles-contianer h2{
 text-align: center;
 color: rgb(155, 125, 184);
 margin-top: 1.5em;
}