
.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.welcome-section {
  text-align: center;
  margin-bottom: 40px;
}

.heading {
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.subheading {
  font-size: 18px;
  color: #666;
}

.how-it-works-section {
  text-align: center;
}

.description {
  font-size: 16px;
  color: #444;
  margin-top: 10px;
}

.step {
  text-align: left;
  margin-bottom: 30px;
}

.step h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.step p {
  font-size: 16px;
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


