.product-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 600px;
}


.product-page-container img {
  width: 500px;
}