@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Syne', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 400;
}


body {
  background-image: url('/violet.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: repeat-y;
}

.cradle-image img:hover {
  opacity: 0.5;
}


table td{
  text-align: center;
}